@model CodeTest.Models.ViewModel

@using (Ajax.BeginForm("Results", "Home" , new AjaxOptions()
{
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "result",
    
}))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Enter N</h2>
            <p>
                @Html.TextBoxFor(m => m.Num)
               
            </p>

            <p><input type="submit"  name="num"></p>
 
          
        </div>

    </div>
}


<div id="result">


</div>